### YamlMime:ManagedReference
items:
- uid: Microsoft.VisualBasic.ApplicationServices.WebUser
  id: WebUser
  children:
  - Microsoft.VisualBasic.ApplicationServices.WebUser.#ctor
  - Microsoft.VisualBasic.ApplicationServices.WebUser.InternalPrincipal
  langs:
  - csharp
  name: WebUser
  nameWithType: WebUser
  fullName: Microsoft.VisualBasic.ApplicationServices.WebUser
  type: Class
  summary: "Provides access to the information about the current user."
  remarks: "The properties and methods exposed by the `My.User` object provide access to the information about the current user. The meaning of &quot;current user&quot; differs slightly between Windows and Web applications. In a Windows application, the current user is the user who runs the application. In a Web application, the current user is the user who accesses the application.       The `My.User` property also provides access to the <xref:System.Security.Principal.IPrincipal> for the current user. A principal object represents the user&quot;s security context, including that user&quot;s identity and any roles to which the user belongs.       For Windows applications, this property provides the same functionality as the <xref:System.Threading.Thread.CurrentPrincipal%2A> property. For Web applications, this property provides the same functionality as the <xref:System.Web.HttpContext.User%2A> property of the object returned by the <xref:System.Web.HttpContext.Current%2A> property.      > [!NOTE] >  For Windows applications, only projects built on the **Windows Application** template initialize the `My.User` object by default. In all other Windows project types, you must initialize the `My.User` object by calling the <xref:Microsoft.VisualBasic.ApplicationServices.User.InitializeWithWindowsUser%2A>method explicitly or by assigning a value to <xref:System.Threading.Thread.CurrentPrincipal%2A>.      > [!NOTE] >  The `My.User` object cannot report information about the current Windows user when run under Windows 95 and Windows 98 because those operating systems do not support the concept of a logged-on user. You must implement custom authentication to use the `My.User` object on those operating systems.."
  example:
  - "This example checks if the application is using Windows or custom authentication, and uses that information to parse the `My.User.Name` property.  \n  \n [!code-vb[VbVbalrMyUser#3](~/add/codesnippet/VisualBasic/VbVbalrMyUser/Class1.vb#3)]"
  syntax:
    content: 'public class WebUser : Microsoft.VisualBasic.ApplicationServices.User'
  inheritance:
  - System.Object
  - Microsoft.VisualBasic.ApplicationServices.User
  implements: []
  inheritedMembers:
  - Microsoft.VisualBasic.ApplicationServices.User.CurrentPrincipal
  - Microsoft.VisualBasic.ApplicationServices.User.InitializeWithWindowsUser
  - Microsoft.VisualBasic.ApplicationServices.User.IsAuthenticated
  - Microsoft.VisualBasic.ApplicationServices.User.IsInRole(Microsoft.VisualBasic.ApplicationServices.BuiltInRole)
  - Microsoft.VisualBasic.ApplicationServices.User.IsInRole(System.String)
  - Microsoft.VisualBasic.ApplicationServices.User.Name
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.VisualBasic.ApplicationServices.WebUser.#ctor
  id: '#ctor'
  parent: Microsoft.VisualBasic.ApplicationServices.WebUser
  langs:
  - csharp
  name: WebUser()
  nameWithType: WebUser.WebUser()
  fullName: Microsoft.VisualBasic.ApplicationServices.WebUser.WebUser()
  type: Constructor
  assemblies:
  - Microsoft.VisualBasic
  namespace: Microsoft.VisualBasic.ApplicationServices
  summary: "Initializes a new instance of the <see cref=&quot;T:Microsoft.VisualBasic.ApplicationServices.WebUser&quot;></see> class."
  remarks: "The properties and methods exposed by the `My.User` object provide access to the information about the current user."
  syntax:
    content: public WebUser ();
    parameters: []
  overload: Microsoft.VisualBasic.ApplicationServices.WebUser.#ctor*
  exceptions: []
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: Microsoft.VisualBasic.ApplicationServices.WebUser.InternalPrincipal
  id: InternalPrincipal
  parent: Microsoft.VisualBasic.ApplicationServices.WebUser
  langs:
  - csharp
  name: InternalPrincipal
  nameWithType: WebUser.InternalPrincipal
  fullName: Microsoft.VisualBasic.ApplicationServices.WebUser.InternalPrincipal
  type: Property
  assemblies:
  - Microsoft.VisualBasic
  namespace: Microsoft.VisualBasic.ApplicationServices
  summary: "Gets or sets the principal object representing the current user."
  remarks: "In the <xref:Microsoft.VisualBasic.ApplicationServices.WebUser> object, this property wraps the <xref:System.Web.HttpContext.User%2A> property of the <xref:System.Web.HttpContext.Current%2A?displayProperty=fullName> property.       For more detailed information, see the <xref:Microsoft.VisualBasic.ApplicationServices.User.CurrentPrincipal%2A> property."
  syntax:
    content: protected override System.Security.Principal.IPrincipal InternalPrincipal { get; set; }
    return:
      type: System.Security.Principal.IPrincipal
      description: "An &lt;xref:System.Security.Principal.IPrincipal&gt; object representing the current user."
  overload: Microsoft.VisualBasic.ApplicationServices.WebUser.InternalPrincipal*
  exceptions: []
  platform:
  - net-11
  - net-20
  - netcore-10
references:
- uid: Microsoft.VisualBasic.ApplicationServices.User
  isExternal: false
  name: Microsoft.VisualBasic.ApplicationServices.User
- uid: Microsoft.VisualBasic.ApplicationServices.WebUser.#ctor
  parent: Microsoft.VisualBasic.ApplicationServices.WebUser
  isExternal: false
  name: WebUser()
  nameWithType: WebUser.WebUser()
  fullName: Microsoft.VisualBasic.ApplicationServices.WebUser.WebUser()
- uid: Microsoft.VisualBasic.ApplicationServices.WebUser.InternalPrincipal
  parent: Microsoft.VisualBasic.ApplicationServices.WebUser
  isExternal: false
  name: InternalPrincipal
  nameWithType: WebUser.InternalPrincipal
  fullName: Microsoft.VisualBasic.ApplicationServices.WebUser.InternalPrincipal
- uid: System.Security.Principal.IPrincipal
  parent: System.Security.Principal
  isExternal: true
  name: IPrincipal
  nameWithType: IPrincipal
  fullName: System.Security.Principal.IPrincipal
- uid: Microsoft.VisualBasic.ApplicationServices.WebUser.#ctor*
  parent: Microsoft.VisualBasic.ApplicationServices.WebUser
  isExternal: false
  name: WebUser
  nameWithType: WebUser.WebUser
- uid: Microsoft.VisualBasic.ApplicationServices.WebUser.InternalPrincipal*
  parent: Microsoft.VisualBasic.ApplicationServices.WebUser
  isExternal: false
  name: InternalPrincipal
  nameWithType: WebUser.InternalPrincipal
