### YamlMime:ManagedReference
items:
- uid: System.ApplicationIdentity
  id: ApplicationIdentity
  children:
  - System.ApplicationIdentity.#ctor(System.String)
  - System.ApplicationIdentity.CodeBase
  - System.ApplicationIdentity.FullName
  - System.ApplicationIdentity.System#Runtime#Serialization#ISerializable#GetObjectData(System.Runtime.Serialization.SerializationInfo,System.Runtime.Serialization.StreamingContext)
  - System.ApplicationIdentity.ToString
  langs:
  - csharp
  name: ApplicationIdentity
  nameWithType: ApplicationIdentity
  fullName: System.ApplicationIdentity
  type: Class
  summary: "Provides the ability to uniquely identify a manifest-activated application. This class cannot be inherited."
  remarks: "The ApplicationIdentity class is used in the activation of manifest-based applications."
  example:
  - "The following code example demonstrates the use of an <xref:System.ActivationContext> object to obtain the ApplicationIdentity for a manifest-based application. This code example is part of a larger example provided for the <xref:System.ActivationContext> class.  \n  \n [!code-vb[System.ActivationContext#2](~/add/codesnippet/VisualBasic/t-system.applicationiden_1.vb)]\n [!code-cs[System.ActivationContext#2](~/add/codesnippet/CSharp/t-system.applicationiden_1.cs)]"
  syntax:
    content: >-
      [System.Runtime.InteropServices.ComVisible(false)]

      public sealed class ApplicationIdentity : System.Runtime.Serialization.ISerializable
  inheritance:
  - System.Object
  implements:
  - System.Runtime.Serialization.ISerializable
  inheritedMembers: []
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: System.ApplicationIdentity.#ctor(System.String)
  id: '#ctor(System.String)'
  parent: System.ApplicationIdentity
  langs:
  - csharp
  name: ApplicationIdentity(String)
  nameWithType: ApplicationIdentity.ApplicationIdentity(String)
  fullName: System.ApplicationIdentity.ApplicationIdentity(String)
  type: Constructor
  assemblies:
  - mscorlib
  namespace: System
  summary: "Initializes a new instance of the <see cref=&quot;T:System.ApplicationIdentity&quot;></see> class."
  remarks: "The format of the `applicationIdentityFullName` parameter is a comma-delimited Unicode string that begins with the name, as follows:  \n  \n```  \n  \napplicationURL  \n#  \ndeploymentIdentity  \n\\  \napplicationIdentity  \n  \n```  \n  \n Where *deploymentIdentity* =  \n  \n```  \n  \ndeploymentManifest  \n, Version =   \nMajor.Minor.Build.Revision  \n, Culture =   \nCultureInfo  \n, PublicKeyToken=  \nTokenNumber  \n, processorArchitecture=  \nprocessorArchitecture  \n  \n```  \n  \n And *applicationIdentity* =  \n  \n```  \n  \napplicationName  \n, Version =   \nMajor.Minor.Build.Revision  \n, Culture =   \nCultureInfo  \n, PublicKeyToken=  \nTokenNumber  \n, processorArchitecture=  \nprocessorArchitecture  \n, type=  \nOsType  \n  \n```  \n  \n The following is an example of the full name for an application named ActivationContext:  \n  \n```  \nhttp://testserver/ActivationContext/ActivationContext.application  \n#ActivationContext.application, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ae13aad84c1a3490, processorArchitecture=msil  \n\\ActivationContext.exe, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ae13aad84c1a3490, processorArchitecture=msil, type=win32  \n```  \n  \n The default value for processor architecture is \"msil\", and the default value for type is \"win32\"."
  syntax:
    content: public ApplicationIdentity (string applicationIdentityFullName);
    parameters:
    - id: applicationIdentityFullName
      type: System.String
      description: "The full name of the application."
  overload: System.ApplicationIdentity.#ctor*
  exceptions:
  - type: System.ArgumentNullException
    commentId: T:System.ArgumentNullException
    description: "\n    applicationIdentityFullName is ."
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: System.ApplicationIdentity.CodeBase
  id: CodeBase
  parent: System.ApplicationIdentity
  langs:
  - csharp
  name: CodeBase
  nameWithType: ApplicationIdentity.CodeBase
  fullName: System.ApplicationIdentity.CodeBase
  type: Property
  assemblies:
  - mscorlib
  namespace: System
  summary: "Gets the location of the deployment manifest as a URL."
  remarks: "The following are two examples of CodeBase property values for an application named ActivationContext:      -   http://testserver/ActivationContext/ActivationContext.application      -   file://C:/UserFiles/UserName/SolutionName/ActivationContext/publish/ActivationContext.application."
  example:
  - "The following code example demonstrates the use of an <xref:System.ApplicationIdentity> object to obtain the value of the CodeBase property for a manifest-based application. This code example is part of a larger example provided for the <xref:System.ActivationContext> class.  \n  \n [!code-vb[System.ActivationContext#3](~/add/codesnippet/VisualBasic/p-system.applicationiden_1_1.vb)]\n [!code-cs[System.ActivationContext#3](~/add/codesnippet/CSharp/p-system.applicationiden_1_1.cs)]"
  syntax:
    content: public string CodeBase { get; }
    return:
      type: System.String
      description: "The URL of the deployment manifest."
  overload: System.ApplicationIdentity.CodeBase*
  exceptions: []
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: System.ApplicationIdentity.FullName
  id: FullName
  parent: System.ApplicationIdentity
  langs:
  - csharp
  name: FullName
  nameWithType: ApplicationIdentity.FullName
  fullName: System.ApplicationIdentity.FullName
  type: Property
  assemblies:
  - mscorlib
  namespace: System
  summary: "Gets the full name of the application."
  remarks: "For a description of the format of the FullName property, see the <xref:System.ApplicationIdentity.%23ctor%2A> constructor."
  example:
  - "The following code example demonstrates the use of an <xref:System.ApplicationIdentity> object to obtain the value of the FullName property for a manifest-based application. This code example is part of a larger example provided for the <xref:System.ActivationContext> class.  \n  \n [!code-vb[System.ActivationContext#3](~/add/codesnippet/VisualBasic/p-system.applicationiden_0_1.vb)]\n [!code-cs[System.ActivationContext#3](~/add/codesnippet/CSharp/p-system.applicationiden_0_1.cs)]"
  syntax:
    content: public string FullName { get; }
    return:
      type: System.String
      description: "The full name of the application, also known as the display name."
  overload: System.ApplicationIdentity.FullName*
  exceptions: []
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: System.ApplicationIdentity.System#Runtime#Serialization#ISerializable#GetObjectData(System.Runtime.Serialization.SerializationInfo,System.Runtime.Serialization.StreamingContext)
  id: System#Runtime#Serialization#ISerializable#GetObjectData(System.Runtime.Serialization.SerializationInfo,System.Runtime.Serialization.StreamingContext)
  isEii: true
  parent: System.ApplicationIdentity
  langs:
  - csharp
  name: System.Runtime.Serialization.ISerializable.GetObjectData(SerializationInfo,StreamingContext)
  nameWithType: ApplicationIdentity.System.Runtime.Serialization.ISerializable.GetObjectData(SerializationInfo,StreamingContext)
  fullName: System.ApplicationIdentity.System.Runtime.Serialization.ISerializable.GetObjectData(SerializationInfo,StreamingContext)
  type: Method
  assemblies:
  - mscorlib
  namespace: System
  summary: "Populates a <see cref=&quot;T:System.Runtime.Serialization.SerializationInfo&quot;></see> object with the data needed to serialize the target object."
  syntax:
    content: void ISerializable.GetObjectData (System.Runtime.Serialization.SerializationInfo info, System.Runtime.Serialization.StreamingContext context);
    parameters:
    - id: info
      type: System.Runtime.Serialization.SerializationInfo
      description: "The  to populate with data."
    - id: context
      type: System.Runtime.Serialization.StreamingContext
      description: "The <xref:System.Runtime.Serialization.StreamingContext>) structure for the serialization."
  overload: System.ApplicationIdentity.System#Runtime#Serialization#ISerializable#GetObjectData*
  exceptions: []
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: System.ApplicationIdentity.ToString
  id: ToString
  parent: System.ApplicationIdentity
  langs:
  - csharp
  name: ToString()
  nameWithType: ApplicationIdentity.ToString()
  fullName: System.ApplicationIdentity.ToString()
  type: Method
  assemblies:
  - mscorlib
  namespace: System
  summary: "Returns the full name of the manifest-activated application."
  remarks: "For a description of the format of a full name for a manifest activated application, see the <xref:System.ApplicationIdentity.%23ctor%2A> constructor."
  syntax:
    content: public override string ToString ();
    parameters: []
    return:
      type: System.String
      description: "To be added."
  overload: System.ApplicationIdentity.ToString*
  exceptions: []
  platform:
  - net-11
  - net-20
  - netcore-10
references:
- uid: System.Object
  isExternal: false
  name: System.Object
- uid: System.ApplicationIdentity.#ctor(System.String)
  parent: System.ApplicationIdentity
  isExternal: false
  name: ApplicationIdentity(String)
  nameWithType: ApplicationIdentity.ApplicationIdentity(String)
  fullName: System.ApplicationIdentity.ApplicationIdentity(String)
- uid: System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: System.ApplicationIdentity.CodeBase
  parent: System.ApplicationIdentity
  isExternal: false
  name: CodeBase
  nameWithType: ApplicationIdentity.CodeBase
  fullName: System.ApplicationIdentity.CodeBase
- uid: System.ApplicationIdentity.FullName
  parent: System.ApplicationIdentity
  isExternal: false
  name: FullName
  nameWithType: ApplicationIdentity.FullName
  fullName: System.ApplicationIdentity.FullName
- uid: System.ApplicationIdentity.System#Runtime#Serialization#ISerializable#GetObjectData(System.Runtime.Serialization.SerializationInfo,System.Runtime.Serialization.StreamingContext)
  parent: System.ApplicationIdentity
  isExternal: false
  name: System.Runtime.Serialization.ISerializable.GetObjectData(SerializationInfo,StreamingContext)
  nameWithType: ApplicationIdentity.System.Runtime.Serialization.ISerializable.GetObjectData(SerializationInfo,StreamingContext)
  fullName: System.ApplicationIdentity.System.Runtime.Serialization.ISerializable.GetObjectData(SerializationInfo,StreamingContext)
- uid: System.Runtime.Serialization.SerializationInfo
  parent: System.Runtime.Serialization
  isExternal: false
  name: SerializationInfo
  nameWithType: SerializationInfo
  fullName: System.Runtime.Serialization.SerializationInfo
- uid: System.Runtime.Serialization.StreamingContext
  parent: System.Runtime.Serialization
  isExternal: true
  name: StreamingContext
  nameWithType: StreamingContext
  fullName: System.Runtime.Serialization.StreamingContext
- uid: System.ApplicationIdentity.ToString
  parent: System.ApplicationIdentity
  isExternal: false
  name: ToString()
  nameWithType: ApplicationIdentity.ToString()
  fullName: System.ApplicationIdentity.ToString()
- uid: System.ApplicationIdentity.#ctor*
  parent: System.ApplicationIdentity
  isExternal: false
  name: ApplicationIdentity
  nameWithType: ApplicationIdentity.ApplicationIdentity
- uid: System.ApplicationIdentity.CodeBase*
  parent: System.ApplicationIdentity
  isExternal: false
  name: CodeBase
  nameWithType: ApplicationIdentity.CodeBase
- uid: System.ApplicationIdentity.FullName*
  parent: System.ApplicationIdentity
  isExternal: false
  name: FullName
  nameWithType: ApplicationIdentity.FullName
- uid: System.ApplicationIdentity.System#Runtime#Serialization#ISerializable#GetObjectData*
  parent: System.ApplicationIdentity
  isExternal: false
  name: System.Runtime.Serialization.ISerializable.GetObjectData
  nameWithType: ApplicationIdentity.System.Runtime.Serialization.ISerializable.GetObjectData
- uid: System.ApplicationIdentity.ToString*
  parent: System.ApplicationIdentity
  isExternal: false
  name: ToString
  nameWithType: ApplicationIdentity.ToString
