### YamlMime:ManagedReference
items:
- uid: System.Workflow.Runtime.WorkflowEnvironment
  id: WorkflowEnvironment
  children:
  - System.Workflow.Runtime.WorkflowEnvironment.WorkBatch
  - System.Workflow.Runtime.WorkflowEnvironment.WorkflowInstanceId
  langs:
  - csharp
  name: WorkflowEnvironment
  nameWithType: WorkflowEnvironment
  fullName: System.Workflow.Runtime.WorkflowEnvironment
  type: Class
  summary: "Represents the transactional environment of the workflow instance that is running on the current thread."
  remarks: "> [!NOTE] >  [!INCLUDE[DeprecatedContent](~/add/includes/deprecatedcontent-md.md)]       The WorkflowEnvironment represents the transactional environment of the workflow instance that is running on the current thread. WorkflowEnvironment has two properties: the <xref:System.Workflow.Runtime.WorkflowEnvironment.WorkBatch%2A> property, which exposes the current work batch and allows a host or a host service to participate in the current transaction by adding <xref:System.Workflow.Runtime.IPendingWork> items to this property; and the <xref:System.Workflow.Runtime.WorkflowEnvironment.WorkflowInstanceId%2A> property, which exposes the <xref:System.Guid> of the workflow instance currently running on this thread."
  syntax:
    content: >-
      [System.Obsolete("The System.Workflow.* types are deprecated.  Instead, please use the new types from System.Activities.*")]

      public static class WorkflowEnvironment
  inheritance:
  - System.Object
  implements: []
  inheritedMembers: []
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: System.Workflow.Runtime.WorkflowEnvironment.WorkBatch
  id: WorkBatch
  parent: System.Workflow.Runtime.WorkflowEnvironment
  langs:
  - csharp
  name: WorkBatch
  nameWithType: WorkflowEnvironment.WorkBatch
  fullName: System.Workflow.Runtime.WorkflowEnvironment.WorkBatch
  type: Property
  assemblies:
  - System.Workflow.Runtime
  namespace: System.Workflow.Runtime
  summary: "Gets the current work batch."
  remarks: "The WorkBatch property allows hosts or host services to participate in the current transaction by adding pending work items to the current work batch. A host or a host service that wants to participate in the current transaction must implement the <xref:System.Workflow.Runtime.IPendingWork> interface and use <xref:System.Workflow.Runtime.IWorkBatch.Add%2A?displayProperty=fullName> to add pending work items to WorkBatch. Durable services should add items to WorkBatch to keep the state of their data stores consistent with the state of the workflow instance. The out-of-box durable services, <xref:System.Workflow.Runtime.Tracking.SqlTrackingService> and <xref:System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService>, both implement this functionality."
  syntax:
    content: public static System.Workflow.Runtime.IWorkBatch WorkBatch { get; }
    return:
      type: System.Workflow.Runtime.IWorkBatch
      description: "The <see cref=&quot;T:System.Workflow.Runtime.IWorkBatch&quot;></see> that represents the current work batch."
  overload: System.Workflow.Runtime.WorkflowEnvironment.WorkBatch*
  exceptions: []
  platform:
  - net-11
  - net-20
  - netcore-10
- uid: System.Workflow.Runtime.WorkflowEnvironment.WorkflowInstanceId
  id: WorkflowInstanceId
  parent: System.Workflow.Runtime.WorkflowEnvironment
  langs:
  - csharp
  name: WorkflowInstanceId
  nameWithType: WorkflowEnvironment.WorkflowInstanceId
  fullName: System.Workflow.Runtime.WorkflowEnvironment.WorkflowInstanceId
  type: Property
  assemblies:
  - System.Workflow.Runtime
  namespace: System.Workflow.Runtime
  summary: "Gets the &lt;xref:System.Guid&gt; of the workflow instance associated with the current thread."
  remarks: "WorkflowInstanceId contains the <xref:System.Guid> of the workflow instance currently running in this thread. Whenever code is run from within a workflow thread, you can get the <xref:System.Guid> of the workflow instance through the WorkflowInstanceId property. For example, if your code is in a service called by an activity, WorkflowInstanceId will provide <xref:System.Guid> of the workflow instance for the calling activity."
  syntax:
    content: public static Guid WorkflowInstanceId { get; }
    return:
      type: System.Guid
      description: "The &lt;xref:System.Guid&gt; that identifies the current workflow instance."
  overload: System.Workflow.Runtime.WorkflowEnvironment.WorkflowInstanceId*
  exceptions: []
  platform:
  - net-11
  - net-20
  - netcore-10
references:
- uid: System.Object
  isExternal: false
  name: System.Object
- uid: System.Workflow.Runtime.WorkflowEnvironment.WorkBatch
  parent: System.Workflow.Runtime.WorkflowEnvironment
  isExternal: false
  name: WorkBatch
  nameWithType: WorkflowEnvironment.WorkBatch
  fullName: System.Workflow.Runtime.WorkflowEnvironment.WorkBatch
- uid: System.Workflow.Runtime.IWorkBatch
  parent: System.Workflow.Runtime
  isExternal: false
  name: IWorkBatch
  nameWithType: IWorkBatch
  fullName: System.Workflow.Runtime.IWorkBatch
- uid: System.Workflow.Runtime.WorkflowEnvironment.WorkflowInstanceId
  parent: System.Workflow.Runtime.WorkflowEnvironment
  isExternal: false
  name: WorkflowInstanceId
  nameWithType: WorkflowEnvironment.WorkflowInstanceId
  fullName: System.Workflow.Runtime.WorkflowEnvironment.WorkflowInstanceId
- uid: System.Guid
  parent: System
  isExternal: true
  name: Guid
  nameWithType: Guid
  fullName: System.Guid
- uid: System.Workflow.Runtime.WorkflowEnvironment.WorkBatch*
  parent: System.Workflow.Runtime.WorkflowEnvironment
  isExternal: false
  name: WorkBatch
  nameWithType: WorkflowEnvironment.WorkBatch
- uid: System.Workflow.Runtime.WorkflowEnvironment.WorkflowInstanceId*
  parent: System.Workflow.Runtime.WorkflowEnvironment
  isExternal: false
  name: WorkflowInstanceId
  nameWithType: WorkflowEnvironment.WorkflowInstanceId
